/* RESPONSIVIDADE
    Quando for trablhar com outras telas, é preciso deifinir diferentes configurações.
    Use a seguinte regra para trabalhar com diferentes telas:  */

@media screen and (max-width: 768px) {
    /* números ilustrativos que você muda de acordo com as telas trabalhadas */
    h1 {
        text-size: 15px;
        color: red;
    }
    /* o que acontece aqui? essas configurações são aplicadas a esse h1 em telas de até 768px de largura
    se for utilizado min-width, acontece o contrário, as configurações são aplicadas para telas acima de 768px */
}

/* é recomendado utilizar em seus containers: */
body {
    font-size: 16px;
}
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem; /* multiplica 0.5 a fonte definida no root/body */
    padding-right: 0.5rem; 
}

/* Usando Grid responsivo */

.exemplo {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem; 
    padding-right: 0.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* O auto-fit significa que o navegador tentará colocar o máximo de colunas possível na linha. */
    /* já o minmax define o tamanho mínimo para cada coluna e np máximo 1 fração do espaço disponível,
    é uma forma dele auto-adaptar ao espaço disponibilizado */
}

/* Algumas propriedades boas para mudar dependendo do espaçamento: */
.exemplo2 {
    font-size: 1.2rem; 
    text-align: 0.5rem;
    flex-direction: column;
    order: -1; 
    margin: auto;
    /* exemplo: um projeto com um texto (1º div) e uma imagem ao lado (2º div), quando mudado a ordem e a direção
    você pode botar a imagem acima do texto tornando ela a 1º div e a direção que era row para column */
}